<html>
<head>
    <title>
        Sprite Packer Manual
    </title>
    <style>
    </style>
</head>
<body>
    『Sprite Packer』 is an app with which you can load images from Google Drive to pack them and download it as a sprite sheet and a sprite map.
    <br/><br/><br/>
    ※ Usage
    <br/>
    <ol>
        <li>
            Download and install Google Drive program.
            <a href="https://www.google.com/drive/download/" target="_blank">Google Drive Download</a>
            <br/><br/>
        </li>
        <li>
            Create a folder in Google Drive.
            <br/><br/>
        </li>
        <li>
            Upload images which you want to pack.
            <br/><br/>
        </li>
        <li>
            Click the Google sign in button and choose an account to connect to Google
            <br/>
            <img src="https://putrescible-tachome.000webhostapp.com/SpritePacker/SP_Manual_4.jpg"/>
            <br/><br/>
        </li>
        <li>
            Allow Google Drive readonly permission if you agree.
            <br/><br/>
        </li>
        <li>
            Click the folder selection button.
            <br/>
            <img src="https://putrescible-tachome.000webhostapp.com/SpritePacker/SP_Manual_6.jpg" />
            <br/><br/>
        </li>
        <li>
            Select a folder in which images are located and click the 'Select' button.
            <br/>
            <img src="https://putrescible-tachome.000webhostapp.com/SpritePacker/SP_Manual_7.jpg" />
            <br/><br/>
        </li>
        <li>
            Select images to be packed and click '▶' button.
            <br/>
            <img src="https://putrescible-tachome.000webhostapp.com/SpritePacker/SP_Manual_8.jpg" />
            <br/><br/>
        </li>
        <li>
            Click the 'Pack' button.
            <br/>
            <img src="https://putrescible-tachome.000webhostapp.com/SpritePacker/SP_Manual_9.jpg" />
            <br/><br/>
        </li>
        <li>
            Write down sprite sheet name and click the download button below to download a packed sprite sheet image.
            <br/>
            <img src="https://putrescible-tachome.000webhostapp.com/SpritePacker/SP_Manual_10.jpg" />
			<br/>
			If it doesn't work, do it in Chrome.
            <br/><br/>
        </li>
        <li>
            Write down sprite map name and choose type and then click the download button below to download a sprite map file.
            <br/>
            <img src="https://putrescible-tachome.000webhostapp.com/SpritePacker/SP_Manual_11.jpg" />
            <br/><br/>
        </li>
        <li>
            If you want to save current sprites, write down atlas name and click save.
            <br/>
            <img src="https://putrescible-tachome.000webhostapp.com/SpritePacker/SP_Manual_12_1.jpg" />
            <br/>
            You can load the atlas later on to keep working with.
            <br/>
            <img src="https://putrescible-tachome.000webhostapp.com/SpritePacker/SP_Manual_12_2.jpg" />
            <br/><br/>
        </li>
    </ol>
</body>
</html>
