<html>
<head>
    <title>
        Sprite Packer 매뉴얼
    </title>
    <style>
    </style>
</head>
<body>
    『Sprite Packer』는 Google Drive에 저장된 이미지 파일들을 패킹해서 sprite sheet 및 sprite map을 만드는 앱입니다.
    <br/><br/><br/>
    ※ 사용법
    <br/>
    <ol>
        <li>
            Google Drive 연동 프로그램을 설치한다.
            <a href="https://www.google.com/drive/download/" target="_blank">Google Drive Download</a>
            <br/><br/>
        </li>
        <li>
            Google Drive에 폴더를 만든다.
            <br/><br/>
        </li>
        <li>
            폴더 안에 패킹하고자 하는 이미지를 넣는다.
            <br/><br/>
        </li>
        <li>
            Google Sign in 버튼을 클릭 후 Google에 연결할 계정을 선택한다.
            <br/>
            <img src="https://putrescible-tachome.000webhostapp.com/SpritePacker/SP_Manual_4.jpg" />
            <br/><br/>
        </li>
        <li>
            Google Drive 읽기 권한을 허용한다.
            <br/><br/>
        </li>
        <li>
            폴더 선택 버튼을 클릭한다.
            <br/>
            <img src="https://putrescible-tachome.000webhostapp.com/SpritePacker/SP_Manual_6.jpg" />
            <br/><br/>
        </li>
        <li>
            이미지가 담겨있는 폴더를 선택 후 Select 버튼을 클릭한다.
            <br/>
            <img src="https://putrescible-tachome.000webhostapp.com/SpritePacker/SP_Manual_7.jpg" />
            <br/><br/>
        </li>
        <li>
            패킹할 이미지들을 선택 후 ▶ 버튼을 클릭한다.
            <br/>
            <img src="https://putrescible-tachome.000webhostapp.com/SpritePacker/SP_Manual_8.jpg" />
            <br/><br/>
        </li>
        <li>
            Pack 버튼을 클릭한다.
            <br/>
            <img src="https://putrescible-tachome.000webhostapp.com/SpritePacker/SP_Manual_9.jpg" />
            <br/><br/>
        </li>
        <li>
            sprite sheet 이름을 입력 후 Download 버튼을 클릭해서 패킹된 이미지를 다운로드 받는다.
            <br/>
            <img src="https://putrescible-tachome.000webhostapp.com/SpritePacker/SP_Manual_10.jpg" />
			<br/>
			다운로드가 잘 안된다면 크롬에서 실행해 보세요.
            <br/><br/>
        </li>
        <li>
            sprite map 이름을 입력하고, type을 선택 후 Download 버튼을 클릭해서 sprite map을 다운로드 받는다.
            <br/>
            <img src="https://putrescible-tachome.000webhostapp.com/SpritePacker/SP_Manual_11.jpg" />
            <br/><br/>
        </li>
        <li>
            현재의 sprites들을 저장하려면 이름을 입력 후 Save를 클릭한다.
            <br/>
            <img src="https://putrescible-tachome.000webhostapp.com/SpritePacker/SP_Manual_12_1.jpg" />
            <br/>
            나중에 그 atlas를 불러와서 계속 작업할 수 있습니다.
            <br/>
            <img src="https://putrescible-tachome.000webhostapp.com/SpritePacker/SP_Manual_12_2.jpg" />
            <br/><br/>
        </li>
    </ol>
</body>
</html>
